<component name="ArtifactManager">
  <artifact type="war" name="spring_zookeeper_web_demos:war">
    <output-path>$PROJECT_DIR$/spring_zookeeper_web_demos/target</output-path>
    <root id="archive" name="spring_zookeeper_web_demos.war">
      <element id="artifact" artifact-name="spring_zookeeper_web_demos:war exploded" />
    </root>
  </artifact>
</component>